{##
 # Show informacny list.
 #
 # @copyright  Copyright (c) 2010-2011 The Fajr authors (see AUTHORS).
 #             Use of this source code is governed by a MIT license that can be
 #             found in the LICENSE file in the project root directory.
 # @author     Tomi Belan <tomi.belan@gmail.com>
 #             Martin Sucha <anty.sk@gmail.com>
 # 
 #}
{% extends "layout/application.html.twig" %}
{% block title %}{{ subjectName }}{% endblock %}
{% block application_content %}
  {{ parent() }}
  <div class="textPage">
    {# TODO(anty): Pridat link na DCS pre informaticke predmety #}
  <table>
    <thead>
    <tr>
      <th>Názov</th>
      <th>Hodnota</th>
    </tr>
    </thead>
    <tbody>
    {% for item in list %}
      <tr>
        <td>{{ item.name }}</td>
        {% if item.values|length == 1 %}
          {# TODO: matchovat veci a prerabat na linky #}
          <td>{{ item.values[0] }}</td>
        {% else %}
          <td><ul>
            {% for value in item.values %}
              {# TODO: matchovat veci a prerabat na linky #}
              <li>{{ value }}</li>
            {% endfor %}
          </ul></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}