{##
 # Template for all pages where user is actually logged in.
 #
 # @copyright  Copyright (c) 2010-2011 The Fajr authors (see AUTHORS).
 #             Use of this source code is governed by a MIT license that can be
 #             found in the LICENSE file in the project root directory.
 # @author     TODO
 #}
{% extends "layout/main.html.twig" %}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="javascripts/third_party/latinise.js"></script>
<script type="text/javascript" src="javascripts/sortFunctions.js"></script>
{% endblock %}

{% block content %}
  {{ parent() }}
  {% block application_content %}{% endblock %}
{% endblock %}

{% block footer %}
  <div>
    Pripojený na {{ currentServer.serverName}}{#
    #}{% if aisVersion is defined and aisVersion|length > 0 %}: verzia {{ aisVersion }}{% endif %}
    {% if statistics is defined %}
    <br />
    Prenesené dáta: {{ "%.2f"|format(statistics.downloadedByteCount/1024) }} kB
    ({{ "%.2f"|format(statistics.decodedByteCount/1024) }} kB nekomprimovane)
    za {{ "%.3f"|format(statistics.totalRequestTime) }} sekundy
    ({{ statistics.requestCount }} dotazov)<br />
    Celkový čas generovania stránky: 
    {{ "%.3f"|format(statistics.totalTime) }} sekundy.
    {% endif %}
  </div>
{% endblock %}
