{##
 # This template redirects user to another webpage.
 # Note that it is discouraged to use only this template,
 # the better approach is to use http redirect headers 
 # together with this template
 #
 # @author Peter Perešíni <ppershing+fajr@gmail.com>
 #}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ language }}" lang="{{ language }}">
  <head>
    <meta http-equiv="refresh" content="5;url={{ redirectUrl }}">
  </head>
  <body>
    In a few seconds, you are going to be redirected to <a href="{{ redirectUrl }}">{{ redirectUrl }}</a>.
  </body>
</html>
